{% extends 'base.html' %}

{% block title %}
	Area Academica
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<h1 class="title" align="center"><span class="label label-primary">Aula Virtual</span></h1>
			{% if user.docente.jornada = "Tarde"%}
				{% if user.docente.sede.nombre = "John F. Kennedy"%}
				<p ><a href="/mis_documentos" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Ver mis documentos publicados</a></p>	
				{% endif %}
			{% endif %}
			{% if user.funcionario%}
				<p ><a href="/mis_documentos" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Ver mis documentos publicados</a></p>	
				
			{% endif %}
			{% if user.estudiante%}
			<form action="." method="POST" class="form-horizontal">	
				{% csrf_token %}
				<h4 class="title" align="center"><span class="label label-info">Seleccione los criterios de busqueda deseados</span></h4>
				<div class="col-sm-12 col-md-5">
					<select class="form-control" id="filtro_grado" name="grado_select">
						<option value="0">Seleccione el grado</option>
						<option value="Sexto">Sexto</option>
						<option value="Septimo">Septimo</option>
						<option value="Octavo">Octavo</option>
						<option value="Noveno">Noveno</option>
						<option value="Decimo">Decimo</option>
						<option value="Once">Once</option>
					 	
										
					</select>
				</div>
				<div class="col-sm-12 col-md-5">
					<select class="form-control" id="fitro_materia" name="materia_select" >
						<option value="0">Seleccione la materia</option>
						<option value="Matematicas" >Matematicas</option>
						<option value="Fisica" >Fisica</option>
						<option value="Educacion fisica" >Educacion fisica</option>
						<option value="Biologia" >Biologia</option>
						<option value="Español" >Español</option>
						<option value="Quimica" >Quimica</option>
						<option value="Informatica" >Informatica</option>
						<option value="Filosofia" >Filosofia</option>
						<option value="Ingles" >Ingles</option>
						
					</select>
				</div>
				<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search "  aria-hidden="true"></span> Consultar </button>
			</form>
			{% endif%}

			<div class="col-sm-12" align="center">
				{% for p in documentos%}
				<a href="/media/{{p.documento}}" target="_blank" class="aula" title="Ver documento">
					<div class="col-sm-6">
						<blockquote>
							<p class="text-warning text-title"><strong><em>{{p.titulo}}</em></strong></p>
						  	<p class="text text-left text-justify">{{p.descripcion}}</p>
						  	<small>Publicado por <cite>{{p.autor.docente.nombres}} {{p.autor.docente.apellidos}} {{p.autor.funcionario.nombres}} {{p.autor.funcionario.apellidos}}</cite> </small>
						  	{% if p.autor.docente %}
						  	<small>Docente <cite>materia {{p.autor.docente.curso}}</cite></small>
						  	{% endif %}
						  	{% if p.autor.funcionario%}
						  	<small>Coordinador <cite>{{p.autor.funcionario.sede.nombre}} jornada {{p.autor.funcionario.jornada}}</cite></small>
						  	{% endif%}
						  	<small>Fecha publicacion <cite>{{p.fecha}}</cite></small>

						</blockquote>
					</div>
				</a>
				{% endfor%}
				{% for p in documentos_rector%}
				<a href="/media/{{p.documento}}" target="_blank" class="aula" title="Ver documento">
					<div class="col-sm-6">
						<blockquote>
							<p class="text-warning text-title"><strong><em>{{p.titulo}}</em></strong></p>
						  	<p class="text text-left text-justify">{{p.descripcion}}</p>
						  	<small>Publicado por<cite> {{p.autor.funcionario.nombres}} {{p.autor.funcionario.apellidos}}</cite> </small>
						  	<small>Rector</small>
						  	<small>Fecha publicacion <cite>{{p.fecha}}</cite></small>
						</blockquote>
					</div>
				</a>
				{% endfor%}
			</div>
		</div>
	</div>
{% endblock %}