{% extends 'base.html' %}

{% block title %}
	Institución
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<h1 class="title text-center" ><span class="label label-primary">Institucion Educativa {{institucion.nombre}}</span></h1>
			<div class="col-sm-5">
				<h2 class="title text-center"><span class="label label-info">Informacion Rector</span></h2>
				<ul>
					<li class="list-group-item"><strong>Nombres:</strong> {{institucion.rector.nombres}}</li>
					<li class="list-group-item"><strong>Apellidos:</strong> {{institucion.rector.apellidos}}</li>
					<li class="list-group-item"><strong>Correo:</strong> {{institucion.rector.correo}}</li>
					<li class="list-group-item"><strong>Nombre usuario:</strong> {{institucion.rector.user.username}}</li>
					<li class="list-group-item text-center"><img src="/media/{{institucion.rector.foto}}" class="img-5"></li>
				  	
				</ul>
			</div>
			<div class="col-sm-7 text-center">
				<h3 class="text-warning"><em><strong>Escudo actual</strong></em></h3>
				<img src="/media/{{institucion.escudo}}" class="img-2">
			</div>
		</div>
	</div>
{% endblock %}