{% extends 'base.html' %}

{% block title %}
	Institución
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<h1 class="title text-center" ><span class="label label-primary">Institucion Educativa {{institucion.nombre}}</span></h1>
			<div class="col-sm-4">
				<h2 class="title text-center"><span class="label label-info">Informacion Rector</span></h2>
				<ul class="list-group">
					<li class="list-group-item">Cras justo odio</li>
				  	<li class="list-group-item">Dapibus ac facilisis in</li>
				  	<li class="list-group-item">Morbi leo risus</li>
				  	<li class="list-group-item">Porta ac consectetur ac</li>
				  	<li class="list-group-item">Vestibulum at eros</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}