{% extends 'base.html' %}

{% block title %}
	Lista de docentes
{% endblock %}
{% block content%}
	<div class="container">
		<div class="row">
			<h1 class="title " align="center"><span class="label label-info">Lista de docentes</span></h1>
			<form action="." method="POST" class="form-horizontal">
				{% csrf_token %}
				<div class="form-group">					
					<div class="col-sm-5" >
						<select class="form-control" id="sede_search" name="sede_search">
							<option value="0">--- Seleccion la sede de consulta de docentes ---</option>
							{% for p in sedes %}
								<option value="{{p.nombre}}">{{p.nombre}}</option>
							{% endfor %}
							
						</select>
					</div>
					<div class="col-sm-5" >
						<select class="form-control" id="jornada_search" name="jornada_search">
							<option value="0">--- Seleccion la jornada de consulta ---</option>
							<option value="Mañana">Mañana</option>
							<option value="Tarde">Tarde</option>
							
						</select>
					</div>
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search "  aria-hidden="true"></span> Consultar </button>
				</div>
			</form>
			
			<div align="center">
				
				{% if insti%}
				<blockquote class="text-warning">Docentes sede {{info_sede.nombre}} jornada {{coordinador.jornada}}</blockquote>
				<div class="col-sm-12">
					<div class="col-sm-12 col-md-3 col-md-offset-3">
						<img src="/media/{{insti.rector.foto}}" class="foto_docente img-circle">
						<p >
							<strong class="text-muted">
								Rector de la instucion <br>
								{{insti.rector.nombres}} {{insti.rector.apellidos}} <br>
								Correo electronico {{insti.rector.correo}} <br>
							</strong>
						</p>
					</div>
					<div class="col-sm-12 col-md-3">
						<img src="/media/{{coordinador.foto}}" class="foto_docente img-circle">
						<p >
							<strong class="text-muted">
								Coordinador Academico <br>
								{{coordinador.nombres}} {{coordinador.apellidos}} <br>
								Correo electronico {{coordinador.correo}}<br>
							</strong>
						</p>
					</div>
				</div>
				{% endif %}
				<br>
				{% for p in docentes %}
				<div class="col-sm-12 col-md-3 ">
					<img src="/media/{{p.foto}}" class="foto_docente img-circle">
					<p >
						<strong class="text-muted">
							{{p.nombres}} {{p.apellidos}} <br>
							{% if info_sede.nombre == 'John F. Kennedy' %}
								Materia: {{p.curso}} <br>
							{% else %}
								Grado: {{p.curso}} <br>
							{% endif %}
							Correo electronico {{p.correo}} <br>
						</strong>
					</p>
				</div>
				{% endfor %}
				
			</div>

		</div>
	</div>
{% endblock %}