{% extends 'base.html' %}
{% block title %}
	{% if documento%}
	Editar documento
	{% else%}
	Crear nuevo documento
	{% endif %}
{% endblock %} 
{% block content %}
	<div class="container">
		<div class="row">
			{% if documento %}
			<h1 align="center" class="title" ><span id="indicador" class="label label-primary">Editar Documento</span></h1>
			{% else %}
			<h1 align="center" class="title" ><span id="indicador" class="label label-primary">Agregar Nuevo Documento</span></h1>
			{% endif %}
			<form action="." method="POST" enctype="multipart/form-data" class="form-horizontal">
				{% csrf_token %}
				<div class="form-group" id="group_titulo">
				    <label for="titulo" class="col-sm-2 control-label">Titulo</label>
				    <div class="col-sm-10">
				     	<input type="text" class="form-control" id="titulo" placeholder="Titulo" name="titulo" value="{{documento.titulo}}">
				    </div>
				</div>
				<div class="form-group" id="group_subtitulo">
				    <label for="descripcion" class="col-sm-2 control-label">Descripcion</label>
				    <div class="col-sm-10">
						<textarea class="form-control" rows="3" placeholder="Ingrese la descripcion del documento" name="descripcion" id="descripcion">{{documento.descripcion}}</textarea>
				    </div>
				</div>			
				{% if user.docente.sede.nombre == "John F. Kennedy" and user.docente.jornada == "Tarde"%}
				<div class="form-group">
					<label for="nivel" class="col-sm-2 control-label">Materia</label>
					<div class="col-sm-10">
						<select class="form-control" id="materia" name="materia">
							<option value="0">--- Seleccione la materia a la cual pertenece el documento ---</option>
 							<option value="Matematicas" id="mat">Matematicas</option>
							<option value="Español" id="esp">Español</option>
							<option value="Ingles" id="ing">Ingles</option>
							<option value="Quimica" id="qui">Quimica</option>
							<option value="Fisica" id="fis">Fisica</option>
							<option value="Educacion Fisica" id="ed_fis">Educacion Fisica</option>
							<option value="Filosofia" id="filo">Filosofia</option>
						  
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="nivel" class="col-sm-2 control-label">Grado</label>
					<div class="col-sm-10">
						<select class="form-control" id="grado" name="grado">
							<option value="0">--- Seleccione el grado al cual pertenece el documento ---</option>
 							<option value="Sexto"> Sexto </option>
 							<option value="Septimo"> Septimo </option>
 							<option value="Octavo"> Octavo </option>
 							<option value="Noveno"> Noveno </option>
 							<option value="Decimo"> Decimo </option>
 							<option value="Once"> Once </option>
						  
						</select>
					</div>
				</div>
				{% endif %}
				<div class="form-group" id="group_img">
				    <label for="imagen" class="col-sm-2 control-label">Documento</label>
				   	<div class="col-sm-10">
					    <input type="file" id="imagen" class="form-control" name="documento">
					</div>
				</div>
				{% if documento%}
				<div class="text-center">
					<a href="/media/{{documento.documento}}" target="_blank" class="btn btn-info ">Ver documento</a>
				</div>
				{% endif %}
				<div id="alerta" class='alert alerta alert-danger col-sm-6 col-sm-offset-4' align="center" role='alert'><strong>Por favor completa los campos resaltados</strong></div>
				<p align="center" class="col-xs-12">
					<button type="submit" class="btn btn-primary">Guardar <span class="glyphicon glyphicon-saved" aria-hidden="true"></span></button>
					<button type="reset" class="btn btn-danger">Limpiar <span class="glyphicon glyphicon-refresh "  aria-hidden="true"></span></button>
				</p>
				
				
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#materia > option[value="{{documento.materia}}"]').attr('selected','selected');
			$('#grado > option[value="{{documento.grado}}"]').attr('selected', 'selected');	
		});
	</script>
{% endblock %}

