{% extends 'base.html' %}
{% block title %}
	{% if evento%}
	Editar evento
	{% else %}
	Agregar nuevo evento
	{% endif %}
{% endblock %}
{% block extras%}
		<link href="/media/bootstrap/calendario/css/bootstrap-datepicker.min.css" rel="stylesheet">
		<link href="/media/bootstrap/fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />

{% endblock %}
{% block js%}
		<script src="/media/bootstrap/fileinput/js/fileinput.js"></script>
		<script  src="/media/bootstrap/calendario/js/bootstrap-datepicker.min.js"></script>
		<script type="text/javascript" src="/media/bootstrap/calendario/locales/bootstrap-datepicker.es.min.js"></script>	

{% endblock %}
{% block content %}
	<div class="container">
		<div class="row ">
			{% if evento%}
			<h1 class="title text-center"><span class="label label-primary" id="indicador">Editar evento</span></h1>
			{% else %}
			<h1 class="title text-center"><span class="label label-primary" id="indicador">Crear nuevo evento</span></h1>
			{% endif %}
			<form action="." method="POST" enctype="multipart/form-data" class="form-horizontal" onsubmit="return validar_evento()">
				{% csrf_token %}
				<div class="form-group" id="group_titulo">
				    <label for="titulo" class="col-sm-2 control-label">Titulo</label>
				    <div class="col-sm-10">
				     	<input type="text" class="form-control" id="titulo" placeholder="Titulo" name="titulo" value="{{evento.titulo}}">
				    </div>
				</div>
				
				<div class="form-group" id="group_descripcion">
				    <label for="descripcion" class="col-sm-2 control-label">Descripcion</label>
				    <div class="col-sm-10">
						<textarea class="form-control" rows="6" placeholder="Ingrese la descripcion del evento" name="descripcion" onKeyUp="cuenta()" id="descripcion">{{evento.descripcion}}</textarea>
						<div class="col-sm-12">
	    					<span id="helpBlock" class="help-block help col-sm-7 pull-left text"><strong>La descripcion del evento debe tener almenos 200 caracteres</strong></span>
	    					<span id="helpBlock2" class="help-block col-sm-4 pull-right text-right">Caracteres: {{num}}</span>
    					</div>
				    </div>
				</div>	
				
				<div class="form-group" id="group_fecha">
					<label for="evento" class="col-sm-2 control-label">Fecha del evento</label>
					<div class="input-group date">
  						<input type="text" class="form-control" readonly name="fecha" value="{{evento.fecha}}" id="fecha"><span class="input-group-addon"><i class="glyphicon glyphicon-th" ></i></span>
					</div>
				</div>
				<div class="form-group" id="group_imagen" >
					<label for="imagen" class="col-sm-2 control-label">Imagen</label>
					   	<div class="col-sm-10">
					   		<input type="file" id="imagen" name="imagen" class="file-loading">
						</div>
					</div>
				
				{% if evento %}				
				<div align="center">
					<h4><span class="label label-primary">Imagen actual</span></h4>
					<img src="/media/{{evento.imagen}}" class="img-noticia">
				</div>
				{% endif %}
				<p align="center">
					<button type="submit" class="btn btn-primary">Guardar <span class="glyphicon glyphicon-saved" aria-hidden="true"></span></button>
					<button type="reset" class="btn btn-danger">Limpiar <span class="glyphicon glyphicon-refresh "  aria-hidden="true"></span></button>
				</p>
				
				
			</form>
		</div>
	</div>

	<script type="text/javascript">
		$('.date').datepicker({
    		todayBtn: "linked",
    		language: "es",
		    format: "yyyy-mm-dd",
		    todayHighlight: true
		});
		$('#imagen').fileinput({
			showUpload: false
		});
	</script>
{% endblock %}