{% extends 'base.html'%}

{% block title %}Crear nueva sede {% endblock %}
{% block extras %}
		<link href="/media/bootstrap/fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js%}
		<script src="/media/bootstrap/fileinput/js/fileinput.js"></script>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<h1 class="title text-center"><span class="label label-primary">Crear nueva sede</span></h1>
			<form action="." method="POST" enctype="multipart/form-data" class="jumbotron form-horizontal">
				{% csrf_token %}
				<div class="form-group" id="group_nombre">
				    <label for="nombre" class="col-sm-2 control-label">Nombre</label>
				    <div class="col-sm-10">
				     	<input type="text" class="form-control" id="nombre" placeholder="Nombre de la institucion" name="nombre">
				    </div>
				</div>
				<div class="form-group" id="group_nit">
				    <label for="nit" class="col-sm-2 control-label">Nit </label>
				    <div class="col-sm-10">
				     	<input type="text" class="form-control" id="nit" placeholder="Numero nit de la institucion" name="nit">
				    </div>
				</div>
				<div class="form-group" id="group_telefono">
				    <label for="telefono_1" class="col-sm-2 control-label">Telefonos </label>
				    <div class="col-sm-5">
				     	<input type="text" class="form-control" id="telefono_1" placeholder="Telefono numero 1" name="telefono_1">
				    </div>
				    <div class="col-sm-5">
				     	<input type="text" class="form-control" id="telefono_2" placeholder="Telefono numero 2" name="telefono_2">
				    </div>
				</div>
				<div class="form-group " id="group_direccion">
				    <label for="direccion" class="col-sm-2 control-label">Direccion </label>
				    <div class="col-sm-10">
				     	<input type="text" class="form-control" id="direccion" placeholder="Direccion de la sede" name="direccion">
				    </div>
				</div>
				<div class="form-group " id="group_correo">
				    <label for="correo" class="col-sm-2 control-label">Correo Electronico</label>
				    <div class="col-sm-10">
				     	<input type="text" class="form-control" id="correo" placeholder="Correo electronico de la sede" name="correo">
				    </div>
				</div>
				
				<div class="text-center">
					<a href="#" class="btn btn-info crear_coordinador"  data-toggle="modal" data-target="#modal-form_matutina" data-valor="Tarde">Registrar Coordinador Jornada Mañana</a>
					<a href="#" class="btn btn-info"  data-toggle="modal" data-target="#modal-form_tarde" >Registrar Coordinador Jornada Tarde</a>
				</div>
				<br>
				<div align="center">
					<button type="submit" class="btn btn-primary">Guardar</button>
					<button type="reset" class="btn btn-danger">Limpiar</button>
				</div>
			</form>
		</div>
	</div>
	
	<div class="modal fade" tabindex="-1" role="dialog" id="modal-form_matutina">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content padding-text">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 align="center"><span class="label label-primary">Crear coordinador jornada mañana </span></h3>
						
				</div>
				<div class="modal-body">
					<form  id="form_coordinador" method="POST" enctype="multipart/form-data" class="form-horizontal" onsubmit="return validar_coordinador()">
						{% csrf_token %}
						<div class="form-group" id="group_nombres_a">
						    <label for="nombres_a" class="col-sm-2 control-label">Nombres</label>
						    <div class="col-sm-10">
						   		<input type="text" class="form-control" id="nombres_a" placeholder="Nombres del coordinador" name="nombres_a">
						   	</div>
						</div>
						<div class="form-group" id="group_apellidos_a">
						    <label for="apellidos" class="col-sm-2 control-label">Apellidos</label>
						    <div class="col-sm-10">
						   		<input type="text" class="form-control" id="apellidos_a" placeholder="Apellidos del coordinador" name="apellidos_a">
						   	</div>
						</div>
						<div class="form-group" id="group_correo_coor">
						    <label for="correo" class="col-sm-2 control-label">Correo</label>
						    <div class="col-sm-10">
						   		<input type="text" class="form-control" id="correo_coor" placeholder="Correo electronico del coordinador" name="correo_c">
						   	</div>
						</div>
						<div class="form-group" id="group_img">
						    <label for="imagen" class="col-sm-2 control-label">Foto del rector</label>
						   	<div class="col-sm-10">
						   		<input type="file" id="imagen" name="foto_c" class="file-loading">
							</div>
						</div>
						<div class="form-group " id="group_username">
						   	<label for="username" class="col-sm-2 control-label">Usuario</label>
						   	<div class="col-sm-10">
						   		<input type="text" class="form-control" id="username" placeholder="Ingrese su usuario" name="username">
						   	</div>
						</div>
						<div class="form-group " id="group_password">
						   	<label for="contraseña" class="col-sm-2 control-label">Contraseña</label>
						   	<div class="col-sm-10">
						   		<input type="password" class="form-control" id="password" placeholder="Ingrese la contraseña del nuevo usuario" name="password">
						   	</div>
						</div>
						<div class="form-group " id="group_password_conf">
						   	<label for="contraseña" class="col-sm-2 control-label">Repita Contraseña</label>
						   	<div class="col-sm-10">
						   		<input type="password" class="form-control" id="password_conf" placeholder="Repita la contraseña de usuario" name="password2">
						   	</div>
						</div>		
						<div id="alerta_pass" class='alert alert-danger col-sm-12 alerta' align="center" role='alert'><strong>Las contraseñas ingresadas no coinciden. </strong></div>	
						<div id="alerta" class='alert alert-danger col-sm-12 alerta' align="center" role='alert'><strong>Por favor completa los campos resaltados correctamente</strong></div>
													
						<p align="center"><button class="btn btn-primary" type="submit">Inscribirse</button> <button class="btn btn-danger" class="close" data-dismiss="modal" aria-hidden="true">Cerrar</button></p>
					</form>
				</div>
					
			</div>
		</div>
		
	</div>
	
		
	<script type="text/javascript">
		$('#imagen').fileinput({
			showUpload: false
		});
		$('#imagen_2').fileinput({
			showUpload: false
		});
	</script>
{% endblock %}