{% extends 'base.html' %}

{% block title %} Crear nueva institucion {% endblock %}
{% block escudo%}{{institucion.escudo}}{% endblock%}
{% block nombre%}{{institucion.nombre}}{% endblock%}
{% block extras %}
		<link href="/media/bootstrap/fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js%}
		<script src="/media/bootstrap/fileinput/js/fileinput.js"></script>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<h1 class="title" align="center"><span class="label label-primary">Crear nueva institucion</span></h1>
			<form action="." method="POST" class="form-horizontal jumbotron"  enctype="multipart/form-data"  onsubmit="return validar_institucion_crear()">
				{% csrf_token %}
				<div class="form-group" id="group_nombre">
					<label for="nombre" class="col-sm-2 control-label">Nombre</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="nombre" placeholder="Nombre de la nueva institucion" name="nombre">
					</div>
				</div>
				<div class="form-group" id="group_escudo">
					<label for="imagen" class="col-sm-2 control-label">Escudo institucion</label>
					<div class="col-sm-10">
						<input type="file" id="escudo" name="escudo" class="file-loading imagen" accept="image/png">
					</div>
				</div>				
				<div class="form-group" id="group_estudiantes">
					<label for="imagen" class="col-sm-2 control-label">Estudiantes</label>
					<div class="col-sm-10">
						<input type="file" id="estudiantes" name="estudiantes" class="file-loading imagen" accept='.xlsx'>
					</div>
				</div>			

				<div class="form-group" id="group_nombres">
					<label for="nombres" class="col-sm-2 control-label">Nombres</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="nombres" placeholder="Nombres del funcionario" name="nombres" >
					</div>
				</div>
				<div class="form-group" id="group_apellidos">
					<label for="apellidos" class="col-sm-2 control-label">Apellidos</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="apellidos" placeholder="Apellidos del funcionario" name="apellidos" >
					</div>
				</div>
				<div class="form-group" id="group_correo">
					<label for="correo" class="col-sm-2 control-label">Correo</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="correo" placeholder="Correo electronico del funcionario" name="correo" >
					</div>
				</div>
				<div class="form-group" id="group_foto">
					<label for="imagen" class="col-sm-2 control-label">Foto del funcionario</label>
					<div class="col-sm-10">
						<input type="file" id="foto" name="foto" class="file-loading imagen">
					</div>
				</div>
				<div class="form-group" id="group_username">
				   	<label for="username" class="col-sm-2 control-label">Usuario</label>
				   	<div class="col-sm-10">
				   		<input type="text" class="form-control" id="username" placeholder="Ingrese su usuario" name="username">
				   	</div>
				</div>
				<div class="form-group" id="group_password">
				   	<label for="contraseña" class="col-sm-2 control-label">Contraseña</label>
				   	<div class="col-sm-10">
				   		<input type="password" class="form-control" id="password" placeholder="Ingrese la contraseña del nuevo usuario" name="password">
				   	</div>
				</div>
				<div class="form-group text-center" id="group_password_conf">
				   	<label for="contraseña" class="col-sm-2 control-label">Repita Contraseña</label>
				   	<div class="col-sm-10">
				   		<input type="password" class="form-control" id="password_conf" placeholder="Repita la contraseña de usuario" name="password2">
				   	</div>
				   	<span id="helpBlock" class="help-block help"><strong>Las contraseñas ingresadas no coinciden</strong></span>
				</div>
				
				<div id="alerta" class='alert alert-danger col-sm-12 alerta' align="center" role='alert'><strong>Por favor completa los campos resaltados</strong></div>
				<p align="center" class="col-xs-12">
					<button type="submit" class="btn btn-primary">Guardar <span class="glyphicon glyphicon-saved" aria-hidden="true"></span></button>
					<button type="reset" class="btn btn-danger">Limpiar <span class="glyphicon glyphicon-refresh "  aria-hidden="true"></span></button>
				</p>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$('.imagen').fileinput({
			showUpload: false
		});
		
	</script>
{% endblock %}