{% extends 'base.html' %}

{% block title %}
	Editar usuario
{% endblock %}
{% block extras%}
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
	<link href="/media/bootstrap/fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />

{% endblock%}
{% block js%}
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
	<script src="/media/bootstrap/fileinput/js/fileinput.js"></script>

{% endblock%}
{% block content %}
	<div class="container">
		<div class="row">
			<h1 class="title" align="center"><span class="label label-info">Editar usuario</span></h1>
			<form action="." method="POST" enctype="multipart/form-data" class="form-horizontal ">
				{% csrf_token %}
				
				<div class="form-group" id="group_nombres">
				    <label for="nombres" class="col-sm-2 control-label">Nombres</label>
				    <div class="col-sm-10">
				     	<input type="text" class="form-control" id="nombres" placeholder="Nombres completos del docente" name="nombres" value="{{user.nombres}}">
				    </div>
				</div>
				<div class="form-group" id="group_apellidos">
				    <label for="apellidos" class="col-sm-2 control-label">Apellidos</label>
				    <div class="col-sm-10">
				     	<input type="text" class="form-control" id="apellidos" placeholder="Apellidos completos del docente" name="apellidos" value="{{user.apellidos}}">
				    </div>
				</div>
				{% if user.sede%}
				<div class="form-group" id="group_sede">
					<label for="sede_select" class="col-sm-2 control-label">Sede</label>
					<div class="col-sm-10">
						<select class='form-control selectpicker' id='sede_docente' name='sede_select' title="{{user.sede}}">
							{% for p in sedes %}
								<option value="{{p}}">{{p.nombre}}</option>
						  	{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-group" id="group_jornada">
					<label for="jornada_select" class="col-sm-2 control-label">Jornada</label>
					<div class="col-sm-10">
						<select class='form-control selectpicker' id='jornada_docente' name='jornada_select' title="{{user.jornada}}">
							<option value="Mañana">Mañana</option>
							<option value="Tarde" >Tarde</option> 						  
						</select>
					</div>
				</div>
				<div class="form-group forms_persona" id="group_curso_a">
					<label for="curso_select" class="col-sm-2 control-label">Curso</label>
					<div class="col-sm-10" >
						<select class='form-control selectpicker' id='curso_docente' name='curso_select' multiple  title="Seleccione el grado o materias correspondiente al docente">	
						</select>
						
					</div>
				</div>
				
				<div class="form-group forms_persona" id="group_curso_b">
					<label for="curso_select" class="col-sm-2 control-label">Curso</label>
					<div class="col-sm-10" >
						<select class='form-control selectpicker' id='curso_docente' name='curso_select_b' multiple title="{{user.curso}}">
							<option value='Quimica'>Quimica</option> 
							<option value='Fisica'>Fisica</option> 
							<option value='Biologia'>Biologia</option> 
							<option value='Español'>Español</option> 
							<option value='Matematicas'>Matematicas</option> 
							<option value='Informatica'>Informatica</option> 
							<option value='Preescolar'>Preescolar</option> 
						</select>
						
					</div>
				</div>
				<div class="form-group forms_persona" id="group_curso_c">
					<label for="curso_select" class="col-sm-2 control-label">Curso</label>
					<div class="col-sm-10" >
						<select class='form-control selectpicker' id='curso_docente' name='curso_select_c' title="{{user.curso}}" >
							<option value='Primero A'>Primero A</option>  
							<option value='Primero B'>Primero B</option>  
							<option value='Segundo A'>Segundo A</option>  
							<option value='Segundo B'>Segundo B</option>  
							<option value='Tercero A'>Tercero A</option>  
							<option value='Tercero B'>Tercero B</option>  
							<option value='Cuarto A'>Cuarto A</option>  
							<option value='Cuarto B'>Cuarto B</option>  
							<option value='Quinto A'>Quinto A</option>
							<option value='Quinto B'>Quinto B</option>
						</select>
						
					</div>
				</div>
				{% endif%}
				<div class="form-group" id="group_correo">
				    <label for="correo" class="col-sm-2 control-label">Correo Electronico</label>
				    <div class="col-sm-10">
				     	<input type="text" class="form-control" id="correo" placeholder="Correo electronico institucional del docente" name="correo"  value="{{user.correo}}">
				    </div>
				</div>
				<div class="form-group" id="group_img">
				    <label for="imagen" class="col-sm-2 control-label">Foto</label>
				   	<div class="col-sm-10">
				   		<input type="file" id="imagen" name="foto" class="file-loading">
					    
					</div>
				</div>
				{% if user.tipo_usuario%}
				<div class="form-group" id="group_rol">
					<label for="rol_select" class="col-sm-2 control-label">Tipo Administrador</label>
					<div class="col-sm-10">
						<select class='form-control selectpicker' id='rol_user' name='rol_select' title="Seleccione el tipo de administrador del nuevo usuario" >
							<option value="Administrador Noticias">Administrador Noticias</option>
							<option value="Administrador Galeria">Administrador Galeria</option>
							<option value="Administrador Oferta Educativa">Administrador Oferta Educativa</option>
							<option value="Administrador Eventos - Slider-Bar">Administrador Eventos - Slider-Bar</option>
							<option value="Administrador General">Administrador General</option>
						</select>
					</div>
				</div>
				{% endif %}
				<p align="center" class="col-xs-12" id="group_btn" >
					<button type="submit" class="btn btn-primary">Guardar <span class="glyphicon glyphicon-saved" aria-hidden="true"></span></button>
					<button type="reset" class="btn btn-danger">Limpiar <span class="glyphicon glyphicon-refresh "  aria-hidden="true"></span></button>
				</p>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$('#imagen').fileinput({
			showUpload: false
		});
		if($("#sede_docente").attr('title') == "John F. Kennedy"){
			$("#group_curso_b").show();
		}
		

	</script>

{% endblock %}