{% extends 'base.html'%}

{% block title %} Editar institucion{% endblock %}
{% block escudo%}{{institucion.escudo}}{% endblock%}
{% block nombre%}{{institucion.nombre}}{% endblock%}
{% block extras %}
		<link href="/media/bootstrap/fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js%}
		<script src="/media/bootstrap/fileinput/js/fileinput.js"></script>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<h1 class="title text-center"><span class="label label-primary">Editar informacion institucion</span></h1>
			<form action="." method="POST" enctype="multipart/form-data" class="jumbotron form-horizontal" onsubmit="return validar_institucion()">
				{% csrf_token %}
				<div class="form-group" id="group_nombre">
					<label for="nombre" class="col-sm-2 control-label">Nombre</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="nombre" name="nombre" value="{{institucion.nombre}}">
					</div>
				</div>
				
				<div class="form-group" id="group_escudo">
					<label for="imagen" class="col-sm-2 control-label">Escudo institucion</label>
					<div class="col-sm-10">
						<input type="file" id="escudo" name="escudo" class="file-loading imagen" accept="image/png">
					</div>
				</div>				
				<div align="center">
					<h4><span class="label label-primary">Escudo actual</span></h4>
					<img src="/media/{{institucion.escudo}}" class="img-noticia">
				</div>
				<br>
				<div class="form-group" id="group_estudiantes">
					<label for="imagen" class="col-sm-2 control-label">Estudiantes</label>
					<div class="col-sm-10">
						<input type="file" id="estudiantes" name="estudiantes" class="file-loading imagen" accept='.xlsx'>
					</div>
				</div>				
				<div align="center">
					<a href="/media/{{institucion.estudiantes}}" target="_blank" class="btn btn-danger">Ver lista actual</a>
				</div>
				<br>
				<div id="alerta" class='alert alert-danger col-sm-12 alerta' align="center" role='alert'><strong>Por favor completa los campos resaltados</strong></div>
				<br>
				<div align="center">
					<button type="submit" class="btn btn-primary">Guardar</button>
					<button type="reset" class="btn btn-danger">Limpiar</button>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$('.imagen').fileinput({
			showUpload: false
		});
		
	</script>
{% endblock %}