{% extends 'base.html'%}

{% block title %}Editar coordinador {% endblock %}
{% block extras %}
		<link href="/media/bootstrap/fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js%}
		<script src="/media/bootstrap/fileinput/js/fileinput.js"></script>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<h1 class="title text-center"><span class="label label-primary">Editar coordinador</span></h1>
			<form action="." method="POST" enctype="multipart/form-data" class="jumbotron form-horizontal">
				{% csrf_token %}
				
				<div class="form-group" id="group_nombres_a">
					<label for="nombres_a" class="col-sm-2 control-label">Nombres</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="nombres_a" placeholder="Nombres del coordinador" name="nombres" value="{{coordinador.nombres}}">
					</div>
				</div>
				<div class="form-group" id="group_apellidos_a">
					<label for="apellidos" class="col-sm-2 control-label">Apellidos</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="apellidos_a" placeholder="Apellidos del coordinador" name="apellidos" value="{{coordinador.apellidos}}">
					</div>
				</div>
				<div class="form-group" id="group_correo_coor">
					<label for="correo" class="col-sm-2 control-label">Correo</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="correo_coor" placeholder="Correo electronico del coordinador" name="correo" value="{{coordinador.correo}}">
					</div>
				</div>
				<div class="form-group" id="group_img">
					<label for="imagen" class="col-sm-2 control-label">Foto del coordinador</label>
					<div class="col-sm-10">
						<input type="file" id="imagen" name="foto" class="file-loading imagen">
					</div>
				</div>
				{% if not coordinador%}
				<div class="form-group " id="group_username">
					<label for="username" class="col-sm-2 control-label">Usuario</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="username" placeholder="Ingrese su usuario" name="username_cm">
					</div>
				</div>
				<div class="form-group " id="group_password">
					<label for="contraseña" class="col-sm-2 control-label">Contraseña</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="password" placeholder="Ingrese la contraseña del nuevo usuario" name="password_cm">
					</div>
				</div>
				<div class="form-group " id="group_password_conf">
					<label for="contraseña" class="col-sm-2 control-label">Repita Contraseña</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="password_conf" placeholder="Repita la contraseña de usuario" name="password2">
					</div>
				</div>		
				<div id="alerta_pass" class='alert alert-danger col-sm-12 alerta' align="center" role='alert'><strong>Las contraseñas ingresadas no coinciden. </strong></div>	
				{% endif %}
				{% if coordinador %}
				<div align="center">
					<h4><span class="label label-primary">Foto actual</span></h4>
					<img src="/media/{{coordinador.foto}}" class="img-noticia">
				</div>
				{% endif %}
				<br>
				<div align="center">
					<a href="/cambiar_password/{{coordinador.user.id}}" class="btn btn-warning">Cambiar contraseña</a> 
					<button type="submit" class="btn btn-primary">Guardar</button>
					<button type="reset" class="btn btn-danger">Limpiar</button>
				</div>
			</form>
		</div>
	</div>
	
	
	
		
	<script type="text/javascript">
		$('.imagen').fileinput({
			showUpload: false
		});
		
	</script>
{% endblock %}