{% extends 'base.html' %}

{% block title %} Lista de matriculas {% endblock %}

{% block content %}
	
	<div class="container">
		<div class="row">
			<h1 class="title text-center"><span class="label label-primary">Lista de matriculas</span></h1>
			<div class="table-responsive">
			  	<table class="table table-hover" >
			  		<thead>
			  			<tr>
			  				<th>#</th>
			  				<th>Identificacion</th>
			  				<th>Nombres</th>
			  				<th>Apellidos</th>
			  				<th>Genero</th>
			  				<th>Grado</th>
			  				<th>Jornada</th>
			  				<th>Sede</th>
			  				
			  			</tr>
			  		</thead>
			  		<tbody id="tabla">
			  			{% for p in lista%}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{p.identificacion}}</td>
							<td>{{p.nombres}}</td>
							<td>{{p.apellidos}}</td>
							<td>{{p.genero}}</td>
							<td>{{p.grado}}</td>
							<td>{{p.jornada}}</td>
							<td>{{p.sede.nombre}}</td>
							
							
						</tr>
			  			{% endfor %}
			  		</tbody>
			    </table>
			</div>
		</div>
	</div>
	
{% endblock %}