<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{%block title %} {%endblock%}</title>
		<link rel="icon" type="image/jpg" href="/media/images/escudo.png" sizes="32 x 32"/>
		<link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="/media/css/style.css" rel="stylesheet">
		{% block extras%}
		{% endblock %}
	</head>
	<body>	
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="/media/bootstrap/js/bootstrap.min.js"></script>
		<script src="/media/js/style.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
		{% block js%}
		{% endblock %}
		<div>
			<header>
				<nav class="navbar navbar-default navbar-fixed-top">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar-1">
								<span class="sr-only">Menu</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							
							<a class="navbar-brand brand" href="#"><img src="/media/images/escudo.png" class="logo"></a>
							<a href="#" class="navbar-brand responsive-titulo">Institucion Educativa John F. Kennedy</a>
							
						</div>
						
						<div class="collapse navbar-collapse"  id="navbar-1">

							<ul class="nav navbar-nav navbar-right">
								<li><a href="/">Inicio</a></li>
								<li><a href="/media">Galeria</a></li>
								<li><a href="/noticias/page/1"">Noticias</a></li>
								<li><a href="/ofertas_educativas">Oferta educativa</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Institucion <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/mision-vision">Mision - Vision</a></li>
										<li><a href="/metas-valores">Valores - Metas</a></li>
										<li><a href="#">Simbolos </a></li>
										<li><a href="/docentes">Docentes</a></li>
										<li><a href="/academico">Aula Virtual</a></li>
										{% if user.is_authenticated and user.is_superuser%}
										<li><a href="/administracion">Administracion</a></li>
										{% endif %}
									</ul>
								</li>
								<li><a href="/contacto">Contactanos</a></li>
								{% if user.is_authenticated %}
								<li><a href="/logout"><span class="glyphicon glyphicon-off"></span></a></li>
								{% else %}
								<li><a href="/login"><span class="glyphicon glyphicon-user"></span> Iniciar sesion</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</nav>
			</header>	
		</div>

		{% block content %}
		{% endblock %}
		
	</body>
	<footer class="footer">
		<div class="container" align="center">
			<div>
				<a href="#" ><img src="/media/images/uni_cauca.jpg" class="iconos"></a>
				<a href="#"><img src="/media/images/icfes.jpg" class="iconos"></a>
				<a href="#"><img src="/media/images/educacion.png" class="iconos"></a>
				<a href="#"><img src="/media/images/sena.jpg" class="iconos"></a>
			</div>
		</div>
		<div align="center" class="container-fluid bg-primary">
			<h2 class="h-footer"><span class="label label-primary">INSTITUCIÓN EDUCATIVA JOHN F. KENNEDY</span></h2>
			<p class="p-footer" style="font-size: 16px;">Popayán - Cauca </p>
			<p class="p-footer">Nit. 800137367-9 - Código Dane: 119001004023 </p>
			<p class="p-footer">Aprobada Segun Resolucion No. 2325 de Nov. 6 de 2009</p>
			<p class="p-footer">Carrera 18  No. 7  32 </p>
			<br>
		</div>
	</footer>
</html>