{% extends 'base.html' %}

{% block title %}
	Mision y Vision - Jhon F. Kennedy
{% endblock %}

{% block content %}
	

	<div class="container marketing">

		<div class="row">
			<div class="col-lg-7 padding-institucion" >
			    <div class="col-lg-12">
			  		<h2><span class="label label-primary">Visión</span></h2>
			  		<br>
				    <p class="text-justify"><em>Hacia el año 2021, la Institucion Educativa John F. Kennedy, será reconocida a nivel local, regional y nacional por el liderazgo de su propuesta educativa, fundamentada en la formación integral, regida por principios de libertad, autonomía, solidaridad, servicio y responsabilidad social con un alto de los derecho de la niñez y la juventud.</em></p>
				
				</div>		
		  		<div class="col-lg-12">
		  			<h2><span class="label label-primary">Misión</span></h2>
		  			<br>
		  			<p class="text-justify "><em>La institucion educativa Jhon F. Kennedy forma niños, niñas y jovenes responsables, creativos, solidarios, participativos y éticos, con aprendizajes de calidad que les posibilite el crecimiento personal y social, el dreccionamiento de su proyecto de vida y el establecimiento de relaciones armónicas con su entorno proyectandolos hacia la sociedad, la educacion superior y la vida laboral.</em></p>
		  			<br>
		  		</div>
			</div>
			<div class="col-lg-5" align="center">				
				<img src="/media/images/escudo.jpg" class="img-2" style="margin-top: 15%; ">
			</div>
	  	</div>	  	
	</div>


	
{% endblock %}