{% extends 'base.html' %}
{% block title %}
	Metas y Valores - Jhon F. Kennedy
{% endblock%}

{% block content%}
	<div class="container">
	  	<div class="row">			
			<div class="col-lg-12 row padding-institucion">
				<div class="col-lg-6 ">
					<h2><span class="label label-primary">Valores institucionales</span></h2>
				    <ul>
				    	<li><b>Autoestima:</b> quererse y valorarse a sí mismo.</li>
				    	<li><b>Respeto:</b> tratar al otro como un ser con derechos, autonomía y libertades</li>
				    	<li><b>Solidaridad:</b> estar dispuesto a aportar cuando se necesite.</li>
				    	<li><b>Honestidad:</b> actuar con coherencia y sinceridad basadas en la verdad y la justicia.</li>
				    	<li><b>Justicia:</b> dar a cada uno lo que le corresponde o le pertenece.</li>
				    	<li><b>Tolerancia:</b> aceptar las maneras de pensar, de actuar y de sentir de los demás.</li>
				    	<li><b>Sentido de pertenencia:</b> amar y respetar la Institución y reconocer como suyo lo que en ella existe haciéndola respetar y promocionándola como una de las mejores en la región.</li>
				    	<li><b>Responsabilidad:</b> asumir nuestros actos y lo que de ello se deriva.</li>
				    </ul>
			    </div>
			    <div class="col-lg-6">
					<br>

			    	<div class="thumbnail">
			    		<img src="/media/images/img1.jpg">
			    	</div>
			    </div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 row">		  		
				<div class="col-lg-8">
					<h2><span class="label label-primary">Metas institucionales</span></h2>
					<p>La institución educativa pretende durante la reformulación del presente proyecto educativo institucional PEI, según el tiempo establecido en la VISIÓN alcanzar las siguientes metas:</p>
			    	<ul>
				    	<li><b>1: </b>Mejorar los resultados académicos de las pruebas internas y externas propuestas por el MEN. (Saber 3, 5, 9, 11) convirtiéndose en la mejor institución educativa municipal.</li>
				    	<li><b>2: </b>Propender por el fortalecimiento de la inclusión.</li>
				    	<li><b>3: </b>Institucionalizar el manual  de convivencia como política educativa institucional que permita fortalecer el clima y la convivencia social de todos.</li>
				    	<li><b>4: </b>Formar estudiantes de manera integral que propendan por el fortalecimiento de los valores, la paz y la tolerancia mediante acciones incluyentes.</li>
				    	<li><b>5: </b>Brindar espacios para el desarrollo y ejecución de proyectos, donde la familia participe de manera más protagónica,</li>
				    	<li><b>6: </b>Propiciar la unidad familiar como pieza vital en el apoyo y acompañamiento de la formación de sus hijos.</li>
				    	<li><b>7: </b>Promover encuentros científicos, empresariales y deportivos entre diferentes instituciones educativas que contribuyan con la buena utilización del tiempo libre.</li>
				    	<li><b>8: </b>Conservar la permanencia y aumentar la cobertura y continuidad de los estudiantes  desde el preescolar hasta la educación media, evitando las deserciones en su paso de la primaria al bachillerato</li>
				    	<li><b>9: </b>Innovar e impulsar  las nuevas propuestas que se plantean a nivel curricular desde las diferentes áreas y esquemas pedagógicos vigentes fortaleciendo las TIC.</li>
				    	<li><b>10: </b>Crear y fomentar ambientes armónicos y favorables que permitan la sana convivencia y el buen clima institucional con todos los integrantes de la comunidad.</li>
				    	<li><b>11: </b>Garantizar la competitividad de nuestros egresados en el entorno laboral y académico, dotándolos de herramientas educativas necesarias para afrontar el mercado laboral y los retos sociales.</li>
			    	</ul>
			    </div>
			    <div class="col-lg-4">
			    	<div class="thumbnail">
			    		<img class="img-circle center-block" src="/media/images/photo.jpg"></img>
			    	</div>
			    </div>
			    <div class="col-lg-4">
			    	<div class="thumbnail">
			    		<img class="img-circle center-block" src="/media/images/img1.jpg"></img>
			    	</div>
			    </div>
			</div>
	
		</div>
		
	</div>
{% endblock%}